#quote-box {
    display: inline-block;
    background-color: white;
    width: 45rem;
    height: 30rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}

#space {
    width: 75%;
    margin: 0 auto;
    margin-top: 10%;
}

#text {
    text-align: center;
    letter-spacing: 3px;
    line-height: 2rem;
    color: white;
    font-size: 1.3rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#author {
    margin: 1rem 0 0 50%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
}


#lower-section {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 10fr ;
    align-items: center;
}

#new-quote {
    outline: none;
    text-decoration: none;
    width: 5rem;
    height: 2rem;
    color: white;
    border-radius: .5rem;
    box-shadow: 0 .7rem 1.5rem rgba(0, 0, 0, 0.6);
    transition: all .3s;
    margin-right: 3rem;

    justify-self: end;
}

#new-quote:hover {
    box-shadow: 0 .7rem 1.5rem rgba(0, 0, 0, 0.6);
    transform: translateY(-.25rem);
}

#new-quote:active {
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, 0.9);
    transform: translateY(0);
}

#tweet-quote {
    margin-left: 3rem;
    margin-right: 1rem;
}

a {
    transition: all .3s;
    margin-right: 3rem;
}

a:hover {
    transform: translateY(0) scale(1.1, 1.1);
}

a:active {
    transform: translateY(0) scale(1, 1);
}

#twitter {
}

#tumblr {

}

@media (max-width: 800px) {
    #quote-box {
        width: 30rem;
        height: 20rem;
    }
}

@media (max-width: 600px) {
    #quote-box {
        width: 100vw;
    }

    #text {
        letter-spacing: 2px;
        line-height: 1.5rem;
        font-size: 1rem;
    }

}

@media (max-width: 400px) {
    #text {
        letter-spacing: 1.5px;
        line-height: 2rem;
        font-size: .7rem;
    }

    #author {
        font-size: .7rem;
    }
  }